#docsandnurses-poster img{
    object-position: 50% 50%;
}

#coffee{
    background-color: rgb(241, 238, 238);
}

#resources-nurses{
    background-color: rgb(238, 230, 230);
}

#resources-doctors{
    background-color: rgb(241, 238, 238);
}

#jobs{
    background-color: rgb(240, 244, 232);
}

#faqs{
    background-color: rgb(241, 238, 238);
}


#docsandnurses-poster img{
    object-position: 75% 50%;
}