#services{
    background-color: rgb(241, 238, 238);
}

#appointements{
    background-color: rgb(238, 230, 230);
}

#question{
    background-color: rgb(241, 238, 238);
}

#coffee{
    background-color: rgb(240, 244, 232);
}

#patient-resources{
    background-color: rgb(241, 238, 238);
}

#faqs{
    background-color: rgb(238, 230, 230);
}