#intro{
    background-color: rgb(245, 238, 227);
}

.intro-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-txt button{
    border: none;
    border-radius: 5rem;
    margin-top: 2%;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: rgb(45,45,45);
    color: white;
}

#intro img{
    width: 100px;
    height: 100px;
}

#seagul1{
    margin-right: auto;
    margin-left: 10%;
}

#seagul2{
    margin-left: auto;
    margin-right: 10%;
}

.intro-txt p{
    font-family: 'sans-serif';
    font-size: 1.5rem;
    text-align: center;
    color: rgb(45,45,45);
}

#fertility-center{
    background-color: rgb(241, 238, 238);
}

#doctors-nurses{
    background-color: rgb(238, 230, 230);
}

#students{
    background-color: rgb(241, 238, 238);
}

#research{
    background-color: rgb(240, 244, 232);
}


@media (max-width: 992px){
    #intro img{
        display: none;
    }
}


